<html>
<h1>Welcome!</h1>
<img src="/images/rent-a-car.jpg" width="900" alt="400">
<p>Create an account or login</p>
<a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
<a href="/users/login"> Login</a>


</html>